name: Sync Index
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - 'charts/index.yaml'

jobs:
  build:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: |
          cp -f charts/index.yaml ${{ runner.temp }}/index.yaml
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.KUADRANT_DEV_PAT }}
          ref: gh-pages
      - run: |
          cp -f ${{ runner.temp }}/index.yaml .
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add index.yaml
          git commit --signoff -m "Sync index.yaml from main"
          git push
