name: Sync Docs
on:
  push:
    branches:
      - 'main'
    paths:
      - 'README.md'
      - 'docs/*'

jobs:
  build:
    permissions:
      contents: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          cp -f README.md ${{ runner.temp }}/README.md
          cp -Rf docs ${{ runner.temp }}/docs
      - uses: actions/checkout@v4
        with:
          ref: gh-pages
      - run: |
          cp -f ${{ runner.temp }}/README.md .
          cp -Rf ${{ runner.temp }}/docs .
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
          git add README.md
          git commit --signoff -m "Sync docs from main"
          git push
